<div class="d-flex flex-column align-items-center justify-content-center h-100">
  <a class="main__button mb-3" mat-raised-button color="warn" routerLink="/start">
    {{ pageLanguage.optionBtnStart }}
  </a>
  <div class="d-flex mb-1 align-items-center">
    <a mat-raised-button class="main__button" color="warn" type="button" (click)="toggleLanguage()">
      {{ pageLanguage.optionBtnLanguage }}
    </a>

  </div>
  <div class="d-flex ms-3">
    {{ currentLanguage }}
  </div>


</div>
<button mat-button>
  Hello world
</button>

