#map {
  height: 80vh;
}

.form-wrapper {
  position: absolute;
  top: 2rem;
  z-index: 400;
  left: 1rem;
  @media (min-width:575px) {
    left: auto;
  }

}

.disabledBtn a {
  pointer-events: none;
  opacity: 0.4;
  display: none;
}

.info__wrapper {
  width: 3.75rem;
  position: absolute;
  top: 74%;
  right: .5rem;
  left: auto;
  z-index: 1000;
  background-color: rgba($color: #fff, $alpha: .7);
  padding: .5rem;
  border-radius: 5px;
  border: 3px solid rgba(34, 32, 32, .35);
  @media (min-width:575px) {
    top: .5rem;
    left: .5rem;
  }
}

.timer {
  width: 2.5rem;
  height: 2.5rem;
  border: .125rem solid red;
  background-color: #fff;
  border-radius: 50%;
  &__text {
    color: #222020;
  }
}

.score {
  width: 2.5rem;
  height: 2.5rem;
  border: .125rem solid blue;
  background-color: #fff;
  border-radius: 50%;
  &__text {
    color: #222020;
  }
}

.cities-list {
  &__column {
    border: 1px solid #222020;
    height: 5rem;
    overflow: scroll;
  }
}

.start {
  &__btn-menu {
    z-index: 1000;
    position: absolute;
    top: 90%;
  }
}

app-city-input {
  .input.city-input-wrapper {
    width: 6.875rem;

    @media (min-width:575px) {
      width: 100%;
    }
  }
}

