<div id="map"
     leaflet
     (leafletMapReady)="onMapReady($event)"
     [leafletOptions]="mapOptions">
</div>

<div class="form-wrapper w-100 d-flex justify-content-center">
  <!-- <form class="form">
    <mat-form-field class="example-full-width">
      <mat-label>Enter city</mat-label>
      <input type="email" matInput placeholder="Ex. Москва">


    </mat-form-field>
    <input type="text" placeholder="Введите город">
    <button mat-flat-button type="button" color="primary" (click)="getRequest('moscow')">Searh</button>
  </form> -->

  <!-- <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
</div>

<div class="d-flex w-100">
  <div class="d-flex w-100">
    1
  </div>
  <div class="d-flex w-100">
    2
  </div>
</div>
