<div id="map"
  leaflet
  (leafletMapReady)="onMapReady($event)"
  (leafletMapMoveStart)="handleMapMoveStart()"
  (leafletMapMoveEnd)="handleMapMoveEnd()"
  (leafletMapZoomStart)="handleMapZoomStart()"
  (leafletMapZoomEnd)="handleMapZoomEnd()"
  [leafletOptions]="mapOptions"
  [leafletLayersControl]="layersControl">
  <div class="container position-relative h-100">
    <a class="start__btn start__btn-menu mb-3" mat-raised-button color="warn" routerLink="/main">
      {{ pageLanguage.btnBack }}
    </a>
  </div>
</div>

<div class="info__wrapper">
  <div class="timer__wrapper d-flex flex-column justify-content-center align-items-center">
    <div class="timer__title d-flex align-items-center justify-content-center">
      {{ pageLanguage.timerTitle }}
    </div>
    <div class="d-flex align-items-center justify-content-center timer">
      <span class="timer__text" #timerElem>

      </span>
    </div>
  </div>
  <div class="score__wrapper d-flex flex-column justify-content-center align-items-center">
    <div class="timer__title d-flex align-items-center justify-content-center">
      {{ pageLanguage.scoreTitle }}
    </div>
    <div class="d-flex align-items-center justify-content-center score">
      <span class="score__text" #scoreElem>

      </span>
    </div>
  </div>
</div>


<div class="form-wrapper w-100 d-flex justify-content-center">
  <form class="form">
    <!-- <mat-form-field class="example-full-width">
      <mat-label>Enter city</mat-label>
      <input type="email" matInput placeholder="Ex. Москва">


    </mat-form-field> -->
    <!-- <input type="text" placeholder="Введите город" name="city" [(ngModel)]="city"> -->
    <input type="text"

      name="city"
      #inputCity
      (input)="validateCityName()"
      (keyup.enter)="getRequest(city)"
      [placeholder]="pageLanguage.inputPlaceHolder"
      [pattern]="pattern"
      [(ngModel)]="city">
    <button mat-flat-button
      type="button"
      color="primary"
      (click)="getRequest(city)">
      {{ pageLanguage.btnSearch }}
    </button>
  </form>

  <!-- <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
</div>

<div class="container">



  <div class="d-flex flex-column w-100">
    <div>
      {{ pageLanguage.infoForUserAboutCurrentLetter }} <b>{{ lastLetter.toUpperCase() }}</b>
    </div>
    <div class="d-flex w-100">
      <div class="cities-list__column d-flex flex-column w-100">
        <div>
          {{ pageLanguage.columnUserTitle }}
        </div>
        <div>
          <ng-container *ngIf="arrUsedByUser.length else emptyUserTempl">
            <ng-container *ngFor="let item of arrUsedByUser; let isLast = last">
              <div class="d-inline-block mr-1">
                <ng-container *ngIf="arrUsedByUser.length > 1 && !isLast else lastItemTempl">
                  <span class="d-inline-block mr-1">
                    {{ item }},
                  </span>
                </ng-container>
                <ng-template #lastItemTempl>
                  <span class="d-inline-block mr-1">
                    {{ item }}
                  </span>
                </ng-template>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #emptyUserTempl>
            <span>{{ pageLanguage.emptyByUser }}</span>
          </ng-template>
        </div>
      </div>
      <div class="cities-list__column d-flex w-100">
        <div class="d-flex flex-column w-100">
          <div>
            {{ pageLanguage.columnCompTitle }}
          </div>
          <div>
            <ng-container *ngIf="arrUsedByComp.length else emptyCompTempl">
              <ng-container *ngFor="let item of arrUsedByComp; let isLast = last">
                <div class="d-inline-block mr-1">
                  <ng-container *ngIf="arrUsedByComp.length > 1 && !isLast else lastItemTempl">
                    <span class="d-inline-block mr-1">
                      {{ item }},&ensp;
                    </span>
                  </ng-container>
                  <ng-template #lastItemTempl>
                    <span class="d-inline-block mr-1">
                      {{ item }}
                    </span>
                  </ng-template>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #emptyCompTempl>
              <span>{{ pageLanguage.emptyByComp }}</span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

